server:
  port: 9000
logging:
  level:
    root: info
spring:
  application:
    name: clouddemo
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/testdb
    username: sa
    password:
  jpa:
    database: h2
    open-in-view: true
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        physical_naming_strategy: com.example.clouddemo.util.HibernatePhysicalNamingNamingStrategy
  h2:
    console:
      enabled: true
      path: /h2-console